<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :fname,:placeholder =>"First Name" %><br />
    <%= f.text_field :lname, :placeholder =>"Last Name"  %> <br />
    <%= f.email_field :email, :placeholder =>"Email"  %><br />
    <%= f.text_area :address, size:"60*12",:placeholder =>"Address" %> <br />
    <%= f.text_field :shop_no,:placeholder =>"shop_no" %><br />
    <%= f.text_field :district,:placeholder =>"District"%> <br />
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
