<div class="row-fluid">
<div class="span4 " ></div>
 <div class="span4 well">
   
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
  
    <%= f.text_field :Name,:placeholder =>"Name" %>  <br />
  
  
    <%= f.email_field :Email,:placeholder =>"Email" %><br />
  
  
    <%= f.number_field :Phone_number,:placeholder =>"Phone_number" %><br />
  

    <%= f.text_area :Message, size:"60*12",:placeholder =>"Message" %> <br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

 </div>
 <div class="span4 " ></div>
 
</div>