



<div class= "well" style="padding-top:2px" >
<div class="span2" ><%= image_tag "logo4.png"%></div>
<div id="navMenu" style="padding-top:18px">

<a class="btn btn-navbar" data-toggle="collapse"
data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>


<div class="nav-collapse collapse">

  <ul>

     <li><%= link_to "Home",root_path %></li> 
    
     <li><%= link_to "Categories",home_Categories_path %>
  <ul>


    <li><%= link_to "Computers"%></li>
    <li><%= link_to "Accessories"%></li>
    <li><%= link_to "Arcades"%></li>
    <li><%= link_to "Salons"%></li>
    <li><%= link_to "Shoes"%></li>

  </ul> <!-- end inner UL -->
  </li> <!-- end main LI -->
  <li><%= link_to "About us",home_AboutUs_path %></li> 
  <li><%= link_to "Contact us",comments_new_path %></li>
  <% if user_signed_in? %>
     <li><%= link_to "Business",businesses_new_path %></li>
    <% end %>

 

  <li><%= link_to "Help",home_Help_path %></li> 
 

    <form class="navbar-form pull-right">
<input type="text" class="span3" id="fname">
<input type="submit" name="Submit" value="Search"  class="btn btn-primary" >
</form>


<div class="pull-right">
 <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method:
    :delete %>
    <% end %>

  </div>  

 
  </ul> <!-- end main UL -->
  
</div>


 <br class="clearFloat" />

 
 </div> <!-- end navMenu -->


</div>