
<div class= "well">

<div id="navMenu">

  <ul>
     <li><%= link_to "Home",root_path %></li> 
    
     <li><%= link_to "Categories",home_Categories_path %>
  <ul>

    <li><%= link_to "1"%></li>
    <li><%= link_to "1"%></li>
    <li><%= link_to "1"%></li>
    <li><%= link_to "1"%></li>
    <li><%= link_to "1"%></li>

  </ul> <!-- end inner UL -->
  </li> <!-- end main LI -->
  <li><%= link_to "About us",home_AboutUs_path %></li> 
  <li><%= link_to "Contact us",home_ContactUs_path %></li> 
  <li><%= link_to "Help",home_Help_path %></li> 
  
  </ul> <!-- end main UL -->

<form class="navbar-form pull-right">
<input type="text" class="span3" id="fname">
<input type="submit" name="Submit" value="Search"  class="btn btn-primary" >
</form>


 <br class="clearFloat" />

 
 </div> <!-- end navMenu -->


</div>